# Configuration files that may contain secrets
.env

# Temporary place to store and process production files
local/

# virtualenv (managed by uv)
.venv/

# misc caches
.mypy_cache/
.ruff_cache/
__pycache__/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store
