# All types of virtualenvs
.direnv/
.venv/

# Configuration files that may contain secrets
.env

# Always
__pycache__/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# For files we need but don't want it git
local/
